@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
   margin: 0;
   padding: 0;
}
html {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #1f1d2e;
  display: flex;
  flex-direction: column; 
  justify-content: center;

 

}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17%; 
  width: 40%;
  margin-bottom: 0px;
  
}
.Bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
} 
 
 



.List {
  padding: 10px 5px;
  background-color: #1f1d2e;
  width: 13%;
  text-align: center;
  margin: 0px 35px;
  border: 1px solid #191724;
  box-shadow: 10px 10px  #191724;
  
}
ul {
  text-align: center;
  list-style-type: none;
  line-height: 300%;
}

h2 {
  color: #eb6f92;
  font-size: 35px;
}

a {
  color: #31748f;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  color: #ebbcba;
  text-decoration: underline;
  transition:0.1s;
  
}

hr {
  color: #31748f;
  width: 90%;
  margin: 0px 5% 0px 5%;
  
}

