@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
* {
   margin: 0;
   padding: 0;
}
html {
  font-family: "JetBrains Mono", monospace;
  
}

body {
  background-color: #1f1d2e;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  
}


.img {
  display: block;
  margin: 180px auto 70px auto;
  width: 10%;
  height: 10%;
  border-radius: 50%;

  
}

.Bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin:  0;
} 
 
 



.List {
   width: 13%;
  height: 50%;
  text-align: center;
  margin: 0px 35px;

  
}
ul {
  text-align: center; 
  list-style-type: none;
  line-height: 300%;
}
li {
  text-align: center;
}

h2 {

  color: #eb6f92;
  font-size: 30px;
  font-weight: 200;
}

a {
  color: #e0def4;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}

a:hover {
  color:#3e8fb0;
  text-decoration: underline;
  transition:0.1s;
  
}


