@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/
/*@font-face {*/
/*  font-family: 'ProggyClean'; /* Name your font family */*/
/*  src: url('fonts/ProggyClean/ProggyCleanNerdFont-Regular.ttf');*/
/* /* Locate the .ttf file within your directory*/*/
/*} */
* {
   margin: 0;
   padding: 0;
}
html {
  font-family: "JetBrains Mono", monospace;
  
}

body {
  background-color: #1f1d2e;
  display: flex;
  flex-direction: column; 
  justify-content: center;

}

 h1 {
   font-size: 50px;
   color: #ebbcba;
   line-height: 4;
  
 }
img {
  display: block;
  margin: 200px auto 90px auto;
  width: 10%;
  height: 10%;
  border-radius: 50%;

  
}
.Bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:  0;
} 
 
 



.List {
  padding: 10px 5px;
  background-color: #1f1d2e;
  width: 13%;
  text-align: center;
  margin: 0px 35px 0 35px;
  border: 1px solid #191724;
  box-shadow: 4px 4px 4px #191724;
  
}
ul {
  text-align: center;
  list-style-type: none;
  line-height: 300%;
}

h2 {
  color: #eb6f92;
  font-size: 30px;
}

a {
  color: #31748f;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #ebbcba;
  text-decoration: underline;
  transition:0.1s;
  
}

hr {
  color: #31748f;
  width: 90%;
  margin: 0px 5% 0px 5%;
  
}

